[submodule "modules/vpc"]
	path = modules/vpc
	url = git@github.com:terraform-aws-modules/terraform-aws-vpc.git
[submodule "modules/rds"]
	path = modules/rds
	url = git@github.com:terraform-aws-modules/terraform-aws-rds.git
[submodule "modules/asg"]
	path = modules/asg
	url = git@github.com:terraform-aws-modules/terraform-aws-autoscaling.git
[submodule "modules/sg"]
	path = modules/sg
	url = git@github.com:terraform-aws-modules/terraform-aws-security-group.git
[submodule "modules/iam"]
	path = modules/iam
	url = git@github.com:terraform-aws-modules/terraform-aws-iam.git
